@font-face {
	font-family: 'Mont';
  	src: url(static/Montserrat-Light.ttf);
}
html{
	font-family: "Mont";
	font-size: 24pt;
	margin: 0;
	padding: 0;
}
h1, h2, h3{
	color:#BD5E7C;
	font-size: 2em;
	text-align: center;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 5em;
	margin: 0;
}
p{
	font-size: 1em;
	color: #eee;
}
img{
	max-width: 100%;
	max-height: 70vh;
	padding-bottom: 5%;
}
.center {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
input[type=text], select {
	width: 50%;
	padding: 1%;
	margin-bottom: 2%;
	display: inline-block;
	border: 1px solid #E297AF;
	border-radius: 4px;
	box-sizing: border-box;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
textarea:focus, input:focus, input[type]:focus, .btn:focus {   
	border-color: #E297AF;
 	box-shadow: 0 1px 1px #BD5E7C inset, 0 0 8px #E297AF;
 	outline: 0 none;
}
.btn{
	font-family: Mont;
	background-color: #BD5E7C;
  	border: none;
  	color: white;
 	padding: 1% 2%;
	margin: 1%;
	width: 20%;
 	text-align: center;
  	text-decoration: none;
  	font-size: 0.7em;
  	cursor: pointer;
  	border: 1px solid #BD5E7C;
  	border-radius: 4px;
  	display: block;
	margin-left: auto;
	margin-right: auto;
}
.btn:hover{
	background-color: #E297AF;
}
.turn-red{
	background-color: rgb(189, 94, 94);
}
.turn-red:hover{
	background-color: rgb(221, 114, 114);
}
.to-form{
	font-size: 1em;
	text-align: left;
}
.card{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0px;
	box-sizing: border-box;
	margin: 5%;
	min-height: 90vh;
	background-color: #E297AF;

}
.card-half{
	border: 1px solid #BD5E7C;
	padding: 2%;
}
.card-half:nth-child(1) p{
	text-align: center;
}
canvas{
	max-width: 100%;
	max-height: 100%;
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 12pt;
	}
	h1{
		color: yellow;
	}
	.card{
		display: block;
		padding: 0;
		border: 1px #BD5E7C solid;
	}
	.card-half{
		border: 0;
	}
	img{
		padding: 0
	}
		
}